<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Geonotes - Admin</title>
        <meta name="description" content="This is the geonotes application by Matthis Duclos and Alexandre Laurent">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/bootstrap.css">
        <link rel="stylesheet" href="styles/bootstrap-responsive.css">
        <link rel="stylesheet" href="styles/font-awesome.min.css">
        <link rel="stylesheet" href="styles/main.css">

    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" id="header">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand">Geonotes</a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="span3">
                <div id="allTracks"></div>
            </div>
            <div class="span9">
                <div id="map_canvas"></div>
            </div>
        </div>

        <div class="navbar navbar-fixed-bottom navbar-inverse" id="footer">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li><button class="btn btn-primary" id="addTrackButton"><i class="icon-plus icon-white"></i> Ajouter parcours</button></li>
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Templates -->
        <script type="text/template" id="trackView">
            <a>
                <span class="showTrack"><%= name %> (<%= distance %>m)</span> 
                <i class="icon-remove-sign icon-large align-right"></i>
                <i class="icon-edit icon-large align-right"></i>
            </a>
        </script>

        <script type="text/template" id="noteView">
            <h4 class="firstHeading"><%= name %> </h4>
            <p> <%= description %> </p>
            <p> <%= category %> </p>
            <p> 
                <button class="btn btn-mini btn-primary editNote" type="button" id="<%= id %>" onClick="fireEditNote(this);">
                    Editer note
                </button>
            </p>
        </script>

        <script type="text/template" id="noteViewCheckbox">
            <input type="checkbox" name="notesTrack" value="<%= id %>"> <%= name %> </input> 
            <hr></hr>
        </script>

        <!-- Fenêtres modales -->
        <div id="addNoteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Ajout d'une note</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="nameAddNote">Nom</label>
                        <div class="controls">
                            <input type="text" id="nameAddNote" placeholder="Nom">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="categoryAddNote">Catégorie</label>
                        <div class="controls">
                            <input type="text" id="categoryAddNote" placeholder="Catégorie">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="descriptionAddNote">Description</label>
                        <div class="controls">
                            <textarea id="descriptionAddNote"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary" id="submitAddNote">Enregistrer</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="editNoteModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Edition d'une note</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="nameEditNote">Nom</label>
                        <div class="controls">
                            <input type="text" id="nameEditNote" placeholder="Nom">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="categoryEditNote">Catégorie</label>
                        <div class="controls">
                            <input type="text" id="categoryEditNote" placeholder="Catégorie">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="description">Description</label>
                        <div class="controls">
                            <textarea id="descriptionEditNote"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary" id="submitEditNote">Enregistrer</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="addTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Ajout d'un parcours</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="nameAddTrack">Nom</label>
                        <div class="controls">
                            <input type="text" id="nameAddTrack" placeholder="Nom">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="categoryAddTrack">Catégorie</label>
                        <div class="controls">
                            <input type="text" id="categoryAddTrack" placeholder="Catégorie">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="descriptionAddTrack">Description</label>
                        <div class="controls">
                            <textarea id="descriptionAddTrack"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Notes</label>
                        <div class="controls">
                            <div id="allNotesView"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary" id="submitAddTrack">Enregistrer</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="editTrackModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Edition d'un parcours</h3>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="nameEditTrack">Nom</label>
                        <div class="controls">
                            <input type="text" id="nameEditTrack" placeholder="Nom">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="categoryEditTrack">Catégorie</label>
                        <div class="controls">
                            <input type="text" id="categoryEditTrack" placeholder="Catégorie">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="descriptionEditTrack">Description</label>
                        <div class="controls">
                            <textarea id="descriptionEditTrack"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Notes</label>
                        <div class="controls">
                            <div id="allNotesViewEdit"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary" id="submitEditTrack">Enregistrer</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="scripts/scripts.js"></script>

    </body>
</html>